@inherits LayoutComponentBase

<div class="page barlow-regular">
    <header class="header">
        <div>
            <h1><a href="/">Company name</a></h1>
        </div>
    </header>
    <main>
        <NavMenu/>
        <div class="row-main-layout">
            <div class="sidebar">
                Sidebar content, if I'm going to use it.
            </div>
            <div class="main">
                <article>
                    @Body
                </article>
            </div>
        </div>
    </main>
    <footer>
        <p>Ida Sjöbeck &copy; 2025</p>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
