@inherits LayoutComponentBase

<div class="page barlow-regular">
    <header class="header">
        <Header HeadingText="Parallel Paths Books" HeadingAlignment="(Header.HorizontalAlignment.left, Header.VerticalAlignment.middle)"/>
    </header>
    <main>
        <NavMenu StaticMenuItem="@(("Home", ""))" OtherMenuItems="@(new List<(string Text, string Url)> {("Products", "products"), ("About Us", "about"), ("Cart", "cart")})" />
        <div class="row-main-layout">
            @* <div class="sidebar">
                Sidebar content, if I'm going to use it.
            </div> *@
            <div class="main">
                <article>
                    @Body
                </article>
            </div>
        </div>
    </main>
    <Footer SiteOwner="Ida Sjöbeck" HorizontalAlignment="Footer.FooterHorizontalAlignment.split" DisplaySocialMediaIcons="true" FacebookUrl="https://facebook.com/ida.sjobeck" TwitterUrl="https://twitter.com/lola_se79" InstagramUrl="https://instagram.com/lola_se79" LinkedinUrl="https://www.linkedin.com/in/ida-sjobeck" GithubUrl="https://github.com/idasjobeck" />
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
