@inherits LayoutComponentBase

<div class="page barlow-regular">
    <header class="header">
        <Header HeadingText="Company Name" HeadingAlignment="(Header.HorizontalAlignment.left, Header.VerticalAlignment.middle)"/>
    </header>
    <main>
        <NavMenu StaticMenuItem="@(("Home", ""))" OtherMenuItems="@(new List<(string Text, string Url)> {("Products", "products"), ("About Us", "about"), ("Cart", "cart")})" />
        <div class="row-main-layout">
            <div class="sidebar">
                Sidebar content, if I'm going to use it.
            </div>
            <div class="main">
                <article>
                    @Body
                </article>
            </div>
        </div>
    </main>
    <footer>
        <p>Ida Sjöbeck &copy; 2025</p>
    </footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
