<div>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item nav-item-static">
                <NavLink class="nav-link" href="@StaticMenuItem.Url">@StaticMenuItem.Text</NavLink>
            </li>
            @foreach (var otherMenuItem in OtherMenuItems)
            {
                <li class="nav-item">
                    <NavLink class="nav-link" href="@otherMenuItem.Url">@otherMenuItem.Text</NavLink>
                </li>
            }
        </ul>
    </nav>
</div>

@code {
    [Parameter]
    public (string Text, string Url) StaticMenuItem { get; set; } = ("Home", "");

    [Parameter]
    public List<(string Text, string Url)> OtherMenuItems { get; set; } = new();
}