@page "/about"

<PageTitle>About Us</PageTitle>

<h1>Welcome to Parallel Paths Books</h1>

<p class="spaced-paragraph">At Parallel Paths Books, we believe that every book is a portal to a new world. Whether you’re traversing a distant galaxy or wandering through a magical kingdom, our mission is to provide a vast collection of sci-fi and fantasy novels that ignite your imagination and transport you to new realms.</p>
<p class="spaced-paragraph">We carefully curate titles from the brightest minds in speculative fiction, from established authors to fresh voices, ensuring you always have an exciting new path to follow.</p>