@page "/"

<PageTitle>Home</PageTitle>

<div class="hero-image">
    <div class="hero-image-text">
        <h2>Where Infinite Worlds Await.</h2>
        <p>Discover your next great adventure through our handpicked collection of science fiction and fantasy books. Explore parallel worlds, time-bending tales, and legendary sagas.</p>
    </div>
    <div class="hero-image-text">
        <a href="/products">Start your journey...</a>
    </div>
</div>