@page "/"

<PageTitle>Home</PageTitle>

<div class="hero-image">
    <div class="hero-image-text">
        <h1>Where Infinite Worlds Await.</h1>
        <h2>Discover your next great adventure through our handpicked collection of science fiction and fantasy books. Explore parallel worlds, time-bending tales, and legendary sagas.</h2>
    </div>
    <div class="hero-image-text">
        <h3><a href="/products">Start your journey...</a></h3>
    </div>
</div>