@page "/products"
@using WebshopCore
@using System.Text.Json
@using WebshopCore.Dtos
@inject IHttpClientFactory HttpClientFactory

<PageTitle>Products</PageTitle>

@if (BookDtos != null)
{
    <div class="row-products">
        @foreach (var bookDto in BookDtos)
        {
            <ProductPreview Product="@bookDto" />
        }
    </div>
}
else
{
    <p><em>Products not found...</em></p>
}

@code {
    public required List<BookDto>? BookDtos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
        StateHasChanged();
    }

    private async Task FetchData()
    {
        using var client = HttpClientFactory.CreateClient("WebshopBackendAPI");
        var data = await client.GetStringAsync("/products");
        BookDtos = JsonSerializer.Deserialize<List<BookDto>>(data, new JsonSerializerOptions {PropertyNameCaseInsensitive = true});
    }
}
