@page "/products"
@using WebshopCore
@using System.Text.Json
@inject IHttpClientFactory HttpClientFactory

<h3>Products</h3>
@if (ProductDTOs != null)
{
    <div class="row-products">
        @foreach (var product in ProductDTOs)
        {
            <ProductPreview ProductDTO="@product" />
        }
    </div>
}
else
{
    <p><em>Products not found...</em></p>
}

@code {
    public List<ProductDto> ProductDTOs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
        StateHasChanged();
    }

    private async Task FetchData()
    {
        using var client = HttpClientFactory.CreateClient("WebshopBackendAPI");
        var data = await client.GetStringAsync("/products");
        ProductDTOs = JsonSerializer.Deserialize<List<ProductDto>>(data, new JsonSerializerOptions {PropertyNameCaseInsensitive = true});
    }
}
