@using WebshopCore
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<button @onclick="() => AddToCartAsync(Product)">Add to cart</button>

@code {
    private List<ProductDto> cart = new();

    [Parameter]
    public ProductDto Product { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        cart = await GetItemsFromCartAsync();
        StateHasChanged();
    }

    private async Task<List<ProductDto>> GetItemsFromCartAsync()
    {
        return await LocalStorage.GetItemAsync<List<ProductDto>>("cart") ?? new List<ProductDto>();
    }

    private async Task AddToCartAsync(ProductDto product)
    {
        cart = await GetItemsFromCartAsync();
        cart.Add(product);
        await LocalStorage.SetItemAsync("cart", cart);
    }
}
