@using System.Diagnostics
@using WebshopCore
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<button @onclick="() => RemoveFromCartAsync(Product)">Remove</button>

@code {
    private List<ProductDTO> _cart = new();

    [Parameter]
    public ProductDTO Product { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _cart = await GetItemsFromCartAsync();
        StateHasChanged();
    }

    private async Task<List<ProductDTO>> GetItemsFromCartAsync()
    {
        return await LocalStorage.GetItemAsync<List<ProductDTO>>("cart") ?? new List<ProductDTO>();
    }

    private async Task RemoveFromCartAsync(ProductDTO product)
    {
        _cart = await GetItemsFromCartAsync();
        _cart.RemoveAll(p => p.Id == product.Id);
        await LocalStorage.SetItemAsync("cart", _cart);
    }
}
